{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>CARD CHOICE</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'card/css/style.css' %}">
    </head> 
        <!-- Nav Bar Start -->
        <div class="nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="index.html" class="nav-item nav-link active">CARD CHOICE</a>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->       
        
        <!-- Main Slider Start -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <nav class="navbar bg-light">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">신한카드-Mr.Life</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">신한카드-Deep Dream</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">KB국민카드-탄탄대로 Miz&Mr 티타늄카드</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">삼성카드-taptap O</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">우리카드-DA@카드의정석</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">NH농협카드-NH올원 파이카드</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">KB국민카드-탄탄대로 올쇼핑 티타늄카드</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">삼성카드-6 V4</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">KB국민카드-청춘대로 톡톡카드</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">신한카드-Deep Dream Platinum+</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-5">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                        <div class="button">
                            <scan class="col-md-3">
                                <div class="navbar1 navbar-expand-md bg-dark navbar-dark">
                                    <a href="looking.html" class="navbar-brand">LOOKING</a>
                                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                </div>
                            </scan>
                            <span class="col-md-3">
                                <div class="navbar1 navbar-expand-md bg-dark navbar-dark">
                                    <a href="compare1.html" class="navbar-brand">COMPARE(체크)</a>
                                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                </div>
                            </span>
                            <span class="col-md-3">
                                <div class="navbar1 navbar-expand-md bg-dark navbar-dark">
                                    <a href="compare2.html" class="navbar-brand">COMPARE(신용)</a>
                                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                </div>
                            </span>
                            <scan class="col-md-3">
                                <div class="navbar1 navbar-expand-md bg-dark navbar-dark">
                                    <a href="top10.html" class="navbar-brand">TOP10</a>
                                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                </div>
                            </scan>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="three">
                            <div class="login">
                                <form accept-charset="UTF-8" role="form" method="post" action="">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" id="userid" value='' placeholder="E-mail을 입력하세요" class="form-control"/>
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" id="password" value='' placeholder="비밀번호를 입력하세요" class="form-control" />
                                    </div>
                                    <button type="submit" id="login-submit" class="btn btn-default btn-block">로그인</button>
                                    <a href="new.html" class="btn btn-default btn-block"> 회원가입</a>
                                </form>
                            </div>
                            <div class="header-item">
                                <img src="img/신한카드-MrLife.png" width="200" height="127">
                                <a class="img-text" href=""><p>이달의 1위 카드입니다.</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Slider End -->      
        
        <!-- Brand Start -->
        <div class="brand">
            <span><img src="img/우리카드-logo.png" width="200" height="127" alt="dw"><a class="img-text" href=""><p>WOORI CARD</p></a></span>
            <span><img src="img/신한카드-logo.png" width="200" height="127" alt="dw"><a class="img-text" href=""><p>SHINHAN CARD</p></a></span>
            <span><img src="img/KB국민카드-logo.png" width="200" height="127" alt="dw"><a class="img-text" href=""><p>KB KOOKMIN CARD</p></a></span>
            <span><img src="img/KEB하나카드-logo.png" width="200" height="127" alt="dw"><a class="img-text" href=""><p>KEB HANA CARD</p></a></span>
            <span><img src="img/NH농협카드-logo.png" width="200" height="127" alt="dw"><a class="img-text" href=""><p>NH NONGHYUP CARD</p></a></span>
            <span><img src="img/현대카드-logo.png" width="200" height="127" alt="dw"><a class="img-text" href=""><p>HYUNDAI CARD</p></a></span>
            <span><img src="img/IBK기업은행-logo.png" width="200" height="127" alt="dw"><a class="img-text" href=""><p>IBK기업 CARD</p></a></span>
            <span><img src="img/삼성카드-logo.png" width="200" height="127" alt="dw"><a class="img-text" href=""><p>WOORI CARD</p></a></span>
        </div>
        <!-- Brand End -->      

        <!-- Featured Product Start -->
        <div class="featured-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h2>Recommendation Card</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">신한카드</a>
                            </div>
                            <div class="product-image">
                                <a href="card-detail.html">
                                    <img src="img/신한카드-Deep Dream.png" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-name">
                                <a href="#">Deep Dream</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">KB국민카드</a>
                            </div>
                            <div class="product-image">
                                <a href="card-detail.html">
                                    <img src="img/KB국민카드-탄탄대로 Miz&Mr 티타늄카드.png" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-name">
                                <a href="#">탄탄대로 Miz&Mr 티타늄</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">삼성카드</a>
                            </div>
                            <div class="product-image">
                                <a href="card-detail.html">
                                    <img src="img/삼성카드-taptap O.png" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-name">
                                <a href="#">taptap O</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">NH농협카드</a>
                            </div>
                            <div class="product-image">
                                <a href="card-detail.html">
                                    <img src="img/NH농협카드-NH올원 파이카드.png" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-name">
                                <a href="#">NH올원 파이</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Featured Product End --> 
        
        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>